## PHP IDEA
.idea

## WP files and directorie

error
log

wp-content/log

###

### scss 

html/assets/node_modules
wp-content/themes/bajra/assets/node_modules/


## image cache
cache

##wc logs 
wp-content/uploads/wc-logs/